<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>
    To where water is really measured.
  </p>
 </div>
 
 <div>
  <h2>About WaterTracker</h2>
  <p>
  The WaterTracker site was designed to manage well water and cistern tanks, to provide
vital water level information to owners of wells and cistern tanks. It is also very 
important to know the recovery rate of water going back into your well so you can change
how you consume your water in times of low rainfall. Watertracker can be used to alert
you via email or text messages that your water level is low and can also be setup to
Automatically order water delivery for you. Watertracker is also able to monitor other
liquid’s such as gas, diesel and other liquid’s.
<br><br>
WaterTracker can give you historical information on your well or cistern tanks in a nice
graphical chart so you can easily see how the water table in your area changes throughout
the year or even year to year. Or you can see how fluid levels in your tanks are consumed
through selectable time periods. This information can be looked at from anywhere you may 
be throughout the world by just logging into your online account via your computer or
smart device such as cell phones or tablets.
<br><br>
Optional displays can be mounted on a wall in your home or office so that family members 
can easily see water levels and how it is impacted by just simply washing your car or 
watering the flowers in your garden or doing your laundry. Information of how your well 
behaves creates a huge awareness in people who use it, which quickly changes their habits
on how they use water. This can also pertain to other fluid levels as well not just water.

  </p>
</div>