<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
    <p>For help on products and general questions.</p>
    </div>
    <div>
        <br><br>
  <p>
    WaterTracker HQ
    <address>
      195 Sunnyridge Rd.<br>
      Jerrseyville, ON<br>
      L0R 1R0<br>
         
    </address>
    <a href="tel:503.555.1212">+1 (503) 555-1212</a><br>
    <a href="mailto:watertracker@mtex.ca">watertracker@mtex.ca</a>
  </p>
</div>